.btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: black;
    color: white;
    border-width: 1px;
    border-radius: 0.5rem;
    margin: 0.25rem 0 0.25rem 0;
}

input {
    margin: 4px;
}

.logo-header {
    margin-top: 4px;
    margin-bottom: 4px;
}

.active {
    border-top: 2px solid transparent;
    border-bottom: 2px solid red;
}